@{
    ViewData["Title"] = "Home Page";
}
<p></p>
<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Centro de Coleta e Agendamento</h1>
    <h5 class="text-success">Ajude-nos nesta empreitada para o futuro!</h5>
</div>


<div class="text-center pad-logo">
    <img src="https://i0.wp.com/www.larplasticos.com.br/wp-content/uploads/2019/06/coleta-seletiva.jpg?resize=626%2C455 class="rounded" style="max-width: 600px;" alt="Descrição da Imagem">
</div>
