@model Fiap.Web.Alunos.Models.AgendamentoModel

<h1>Editar Agendamento</h1>

<h4>Editar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Agendamento" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Campo oculto para o ID do agendamento -->
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" type="date" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <input asp-for="Cliente" class="form-control" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
             
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>
